/* 
    ldelamotte17@georgefox.edu
    Final Project Pt. II
    2019-04-26
*/

.row {
    padding-top: 5%;
}

#more-information {
    padding-top: 5%;
}

.about-me {
    padding-top: 5%;
}

.top-buffer {
    padding-top: 5%;
}

.modal-backdrop {
    background-color: white !important;
    opacity: 0.75;
}

.comment {
    margin: 0% 5%;
}

/* gets rid of link decoration on the connection buttons */
.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}